
body {
    color: gold;
    background-image: url("https://static01.nyt.com/images/2022/06/06/sports/06secret-surf1/06secret-surf1-superJumbo.jpg?quality=75&auto=webp");
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2 {
    font-family: 'Tangerine', sans-serif;
    text-align: center;
}


#navbar ul {
    list-style-type: none;
    align-items: center;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
}
#navbar a {
    margin-left: 75px;
    margin-right: 75px;
}


#DukePic p {
    background-image: url("https://www.surfertoday.com/images/stories/dukekahanamoku9.jpg");
    background-size: cover;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

#AndyPic p {
    background-image: url("https://www.surfertoday.com/images/stories/dukekahanamoku9.jpg");
    background-size: cover;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}


#JohnPic p {
    background-image: url("https://www.surfertoday.com/images/stories/dukekahanamoku9.jpg");
    background-size: cover;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;

}

#EddiePic p {
    background-image: url("https://www.surfertoday.com/images/stories/dukekahanamoku9.jpg");
    background-size: cover;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
